services:
  filebrowser:
    build: .
    container_name: filebrowser
    user: "1000:1000"
    ports:
      - "8040:80"
    volumes:
      - filebrowser_files:/srv
      - filebrowser_cfg:/config
      - filebrowser_db:/database
    restart: unless-stopped

volumes:
  filebrowser_files:
  filebrowser_db:
  filebrowser_cfg: